* {
    font-family: game-font;
    color: white;
    margin: 0;
}

#root > div.login, #root > div.register {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-image: url("/src/images/background_v1.png");
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: "game-font";
    src: url("/src/fonts/Krabby Patty.ttf");
}

/*
.const-style{
    background-color: rgb(0, 119, 255);
    color: rgb(248, 203, 0);
}

.form-text{
    color: white;
}

h1 {
    margin-bottom: 0;
}

label{
    display: flex;
    justify-content: space-between;
}

input {
    background-color: rgb(0, 132, 255);
    border-color: rgb(0, 102, 255);
    color: rgb(233, 169, 8);
    
    height: 20px;
    border-radius: 8px;
    text-align: center;
}

input::placeholder {
    color: rgb(179, 133, 17);
}

button{
    width: 100%;
    height: 30px;

    font-weight: bold;
    border: none;
    border-radius: 8px;
}
*/

a{
    color: blue;
    text-decoration: underline;
}

a:hover{
    cursor: pointer;
}

#error{
    color: red;
}