/*
.character-spongebob{
    background-color: #FFF56E;
    border-color: #BA782F;
}

.character-patrick{
    background-color: #FAC6C3;

    border-top-color: #D6DE22;
    border-bottom-color: #D6DE22;

    border-left-color: #B292C4;
    border-right-color: #B292C4;
}

.character-squidward{
    background-color: #D1E9E1;
    border-color: #CD981B;
}

.character-sandy{
    background-color: #CD981B;
    border-color: #B292C4;
}

.character-sandy-suited{
    background-color: #FFFFFF;

    border-top-color: #D64438;
    border-bottom-color: #D64438;

    border-left-color: #1569A3;
    border-right-color: #1569A3;
}

.character-krabs{
    background-color: #EC4D38;

    border-top-color: #A4D9F0;
    border-left-color: #A4D9F0;
    border-right-color: #A4D9F0;

    border-bottom-color: #768DB7;
}

.character-plankton{
    background-color: #8BC0BE;
    border-color: #00703A;
}
*/

.character-1{
    background-color: #FFF56E;
    border-color: #BA782F;
}

.character-2{
    background-color: #FAC6C3;

    border-top-color: #D6DE22;
    border-bottom-color: #D6DE22;

    border-left-color: #B292C4;
    border-right-color: #B292C4;
}

.character-3{
    background-color: #D1E9E1;
    border-color: #CD981B;
}

.character-4{
    background-color: #CD981B;
    border-color: #B292C4;
}

.character-5{
    background-color: #FFFFFF;

    border-top-color: #D64438;
    border-bottom-color: #D64438;

    border-left-color: #1569A3;
    border-right-color: #1569A3;
}

.character-6{
    background-color: #EC4D38;

    border-top-color: #A4D9F0;
    border-left-color: #A4D9F0;
    border-right-color: #A4D9F0;

    border-bottom-color: #768DB7;
}

.character-7{
    background-color: #8BC0BE;
    border-color: #00703A;
}