#characters{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#selector-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

#selector-btns{
    display: flex;
    gap: 15px;
}

#selector-btns > button{
    width: 100px;
}