* {
    font-family: sans-serif;
}

.const-style{
    background-color: rgb(0, 119, 255);
    color: rgb(248, 203, 0);
}

.form-text{
    color: white;
}

label{
    display: flex;
    justify-content: space-between;
}

button{
    width: 100%;
    height: 30px;

    font-weight: bold;
    border: none;
    border-radius: 8px;
}

a{
    color: blue;
    text-decoration: underline;
}

a:hover{
    cursor: pointer;
}