.map-box{
    border: 4px solid rgba(97, 20, 20, 0.973);

    display: flex;
    flex-direction: column;
    width: min-content;
}

.map-row{
    display: flex;
}

.point{
    width: 20px;
    height: 20px;
}

.map-point{
    width: 20px;
    height: 20px;
    
    border: 1px solid rgb(119, 187, 16);
    background-color: greenyellow;
}

.player-point{
    width: 20px;
    height: 20px;

    border: 1px solid rgb(187, 133, 16);
    background-color: rgb(234, 255, 47);
}