#menu{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

menu {
    background-color: red;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.wrapper > button {
    width: 200px;
}