.mapBox{
    border: 4px solid gray;

    display: flex;
    flex-direction: column;
    width: min-content;
}

.mapLine{
    display: flex;
}

.mapPoint{
    width: 30px;
    height: 30px;

    border: 0.5px solid rgb(119, 187, 16);
    background-color: greenyellow;
}