button {
    font-size: medium;
    font-weight: normal;
    color: white;
    padding-block: 8px;
    padding-inline: 16px;
}

button:hover{
    cursor: pointer;
}

.btn-classic{
    background-color: #0071FC;
    border: 2px outset #09348a;
}

.btn-classic:hover{
 background-color: #FFC600;
 border-color: #a17608;
}

.btn-danger{
    background-color: #C40000;
    border: 2px outset #490707;
}

.btn-danger:hover{
    background-color: #FF7C00;
    border-color: #8d4209;
}